:host {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #333E48;
    margin-right: 14px;
    display: flex;
    align-items: center;
}