<app-search placeholder="Search text..." (searchText)="searchItem($event)"></app-search>
<div *ngFor="let course of courseList">
    <app-course [course]="course" [editable]="editable">
        <div class="buttons">
            <app-button text="Show course"></app-button>
            <p class="editables" *ngIf="editable">
                <app-button [iconType]="primary"></app-button>
                <app-button [iconType]="secondary"></app-button>
            </p>
        </div>
    </app-course>
</div>