input {
    min-height: 50px;
}

.subWrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;

    input {
        width: 78%;
    }

    app-button {
        width: 18%;
    }
}